html {
	background: url(https://s3.amazonaws.com/ooomf-com-files/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;

	background-color: #2F4F4F;
	font-size: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;

	min-width: 750px;
}

a {
	text-decoration: none;
	color: white;
}


.bandpage {
	margin-left: auto;
	margin-right: auto;
}


.intro {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
	font-size: 75px;
	letter-spacing: -3;
}

.main-content {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}


#mc_embed_signup {
	background:#fff; 
	clear:left; 
	font-size: 23px;
	color: #888;
	border: 1px solid #888;
	opacity: 0.75;
	padding: 0;

	height: 145px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#mc_embed_signup input.email {

	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#mc_embed_signup label {
	text-align: center;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
}

#mc_embed_signup input.button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.email-form {
	margin: 60px auto 0 auto;
	width: 35%;
	max-width: 450px;
	text-align: center;
}


.music-player {
	width: 100%;
	height: 100%;
}

.music-player-container {
	width: 55%;
	max-width: 450px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

	border: 1px solid #888;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.footer {
	font-size: 20px;
	position: absolute;
	bottom: 0;
	left: 15px;
}

.attrib {
	text-align: right;
	width: 50px;
	font-size: 12px;
	opacity: 0.65;
	position: absolute;
	bottom: 0;
	right: 10px;
}

@media screen and (max-width: 500px) {
	.email-form {
		width: 100%;
		margin-top: 0;
	}

	#mc_embed_signup {
		width: 100%;
		height: 200px;
	}
}
